= render 'shared/header'
.new
  .new__contents
  = form_for @wordcreater do |f|
    .new__contents__field
    .new__contens__field__input
    = f.fields_for :words do |t|
      .new__contents__field__input__word
        %h2.new__contents__field__input__word-title
          word
        .new__contents__field__input__word-box
          = t.text_area :word, placeholder:"好きな言葉を入力してください", cols:"20", rows:"4", class:"new__contents__field__input__word__box"
      .new__contents__field__input__person
        %h2.new__contents__field__input__person-title
          person   
        .new__contents__field__input__person-box
          =f.text_area :name, placeholder:"言葉を残した人の名前を入力してください", cols:"30", rows:"4", class:"new__contents__field__input__word__box"
      .new__contents__field__input__genre
        %h2.new__contents__field__input__genre-title
          genre
        .new__contents__field__input__genre__box
          .new__contents__field__input__genre__box__top
            = t.collection_select :genre_id,Genre.all, :id,:name,{include_blank: '---'}, class:"collection_box"
      .new__contents__field__input__image
        .new__contents__field__input__image-title
          image
          .new__contents__field__input__image__box
            = t.label :image, class:"new__contents__field__input__image",for:"myImage" do
              = fa_icon "image"
              = t.file_field :image, class:'hidden',id:'myImage'
        .new__contents__field__input__image__box-pre  
          %img#preview
    .new__contents__field__back
      .new__contents__field__back__button
        =link_to "/", class:'new__contents__field__back__button' do
          back
    .new__contents__field__submit
      -# .new__contents__field__submit__button
        -# =link_to "#", class:'new__contents__field__submit__button' do
    = f.submit class:'new__contents__field__submit__button'
