= render 'shared/header'
%article
  .box
    .note
      - @words.each do |word|
        =link_to "/words/#{word.id}" do
          .note__box
            %p.note__box__word
              = word.word
            .note__box__image
              = image_tag word.image.url, class:"picture" if word.image.present?
  = render 'shared/pencil'
